.title {
    color: darkslateblue;
    margin-left: 15px;
}
.block {
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
}
.line {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid black;
}

.anotherBlock {
    width: 170px;
    margin-left: 15px;
    margin-right: 15px;
}